<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingyu.dao.IssuerMapper">
  <resultMap id="BaseResultMap" type="com.qingyu.model.Issuer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="accountName" jdbcType="VARCHAR" property="accountname" />
    <result column="account" jdbcType="INTEGER" property="account" />
    <result column="accountBig" jdbcType="INTEGER" property="accountbig" />
    <result column="bankOpen" jdbcType="INTEGER" property="bankopen" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="idea" jdbcType="VARCHAR" property="idea" />
    <result column="measures" jdbcType="VARCHAR" property="measures" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, accountName, account, accountBig, bankOpen, brief, idea, measures
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from issuer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from issuer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qingyu.model.Issuer">
    insert into issuer (id, name, accountName, 
      account, accountBig, bankOpen, 
      brief, idea, measures
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, 
      #{account,jdbcType=INTEGER}, #{accountbig,jdbcType=INTEGER}, #{bankopen,jdbcType=INTEGER}, 
      #{brief,jdbcType=VARCHAR}, #{idea,jdbcType=VARCHAR}, #{measures,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qingyu.model.Issuer">
    insert into issuer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="accountname != null">
        accountName,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="accountbig != null">
        accountBig,
      </if>
      <if test="bankopen != null">
        bankOpen,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="idea != null">
        idea,
      </if>
      <if test="measures != null">
        measures,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=INTEGER},
      </if>
      <if test="accountbig != null">
        #{accountbig,jdbcType=INTEGER},
      </if>
      <if test="bankopen != null">
        #{bankopen,jdbcType=INTEGER},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="idea != null">
        #{idea,jdbcType=VARCHAR},
      </if>
      <if test="measures != null">
        #{measures,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingyu.model.Issuer">
    update issuer
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        accountName = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=INTEGER},
      </if>
      <if test="accountbig != null">
        accountBig = #{accountbig,jdbcType=INTEGER},
      </if>
      <if test="bankopen != null">
        bankOpen = #{bankopen,jdbcType=INTEGER},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="idea != null">
        idea = #{idea,jdbcType=VARCHAR},
      </if>
      <if test="measures != null">
        measures = #{measures,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingyu.model.Issuer">
    update issuer
    set name = #{name,jdbcType=VARCHAR},
      accountName = #{accountname,jdbcType=VARCHAR},
      account = #{account,jdbcType=INTEGER},
      accountBig = #{accountbig,jdbcType=INTEGER},
      bankOpen = #{bankopen,jdbcType=INTEGER},
      brief = #{brief,jdbcType=VARCHAR},
      idea = #{idea,jdbcType=VARCHAR},
      measures = #{measures,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>